* {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

.btn-primary {
  font-weight: 600;
  font-size: 20px;
  color: #005FAC;
  border: 0;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px 25px;
}

/* banner section styles */
.banner {
  background-image: url(../images/banner3.png);
  background-size: cover;
  background-position: center;
}

.banner-elements {
  text-align: right;
  padding: 200px 230px 170px 500px;
}

.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  line-height: 70px;
}

.banner-section-description {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  padding: 30px 0 30px 60px;
}

/* main section styles */
main {
  max-width: 80%;
  margin: 0 auto;
}

.failures {
  display: flex;
  margin: 30px 0 30px;
  align-items: center;
  padding: 100px 0 60px;
}

.failure-statements {
  padding: 0 30px 0 30px;
}

.section-title {
  font-weight: 700;
  font-size: 42px;
  color: #151414;
}

.section-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  padding: 30px 0 30px 0;
}

.description-point i {
  color: #16D887;
  size: 26px;
  padding: 0 10px 0 0;
}

/* plan section styles */
.plans {
  margin: 30px 0 30px;
  padding: 100px 0;
}

.plans-section-tilte {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  padding: 0 0 60px;
}

.plan-box-container {
  display: flex;
  justify-content: center;
  gap: 15px;

}

.plan-box {
  text-align: center;

}

.plan-title {
  font-weight: 700;
  font-size: 26px;
  color: #151414;
  padding: 16px 0;
}

.plan-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;

}

/* gradient section style */

.gradient-image {
  background-image: linear-gradient(to right, rgba(0, 110, 255, 0.63), rgba(4, 0, 255, 0)), url(/images/watch.png);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;

}

.gradient-image-content {
  padding: 60px;
}

.section-title-white {
  font-weight: 700;
  font-size: 42px;
  color: #ffffff;
  padding: 30px 40% 30px 0;
}

/* main section styles end */

/* footer section style */
footer {
  background: #151414;
  margin: 100px 0 0 0;
  padding: 30px 0;

}

.footer {
  max-width: 80%;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  justify-content: left;
  gap: 20px;

}

.connection-area {
  width: 50%;
  padding: 24px 5% 24px 0;
}

.footer-section-description {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.connection-icons {
  display: flex;
  gap: 25px;
  padding: 30px 0 30px 0;
}

.subscribe-area {
  width: 50%;
  padding: 24px 0 24px 20%;
}

.subscribe-title {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  padding: 30px 0 30px 0;
}

.email-input {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 16px 10px;
  width: 100%;
}

.btn-secondary {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  border: 0;
  background: #005FAC;
  border-radius: 5px;
  padding: 20px 25px;
}

.subscribe-button {
  margin: 30px 0 0 0;
}